body {
position: absolute;
display: block;
width: 800px;
height: 792px;
}

#container {
  width: 456px;
  height: 445px;
  display: block;
  background-color:rgb(124, 124, 124);


}

.squares{
width: 60px;
height: 60px;
background-color: black;
float:left;
display: inline-block;
margin:0 8px;



}
.squareRow{
  width: 100%;
  height: 62px;
  position: relative;
  display: block;
}


.dotRow{
  width: 100%;
  height: 15px;
  position: relative;
  display: block;
}



.dotStyle{
width: 10px;
height: 15px;
background-color: white;
border-radius: 50%;
position: relative;
float: left;
display: inline-block;
margin: 0px 32px;
margin-right: 28px;
/* left: 8%; */
right: -37px;
}
/*.squaresrow2{
width: 80px;
height: 80px;
background-color: black;
display: inline-block;
margin-top: 0px;
margin-right: 12px;
margin-bottom: 12px;
}
.squaresrow3{
width: 80px;
height: 80px;
background-color: black;
display: inline-block;
margin-top: 0px;
margin-right: 12px;
margin-bottom: 12px;

}
.squaresrow4{
width: 80px;
height: 80px;
background-color: black;
display: inline-block;
margin-top: 0px;
margin-right: 12px;
margin-bottom: 12px;

}
.squaresrow5{
width: 80px;
height: 80px;
background-color: black;
display: inline-block;
margin-top: 0px;
margin-right: 12px;
margin-bottom: 12px;

}

.dotsrow1{
  width: 10px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 80px;
 left: 80px;
}

#container > div:nth-child(7) {


}*/







/*.dots{
width: 5px;
height: 16px;
background-color: black;
display: table;
margin-top: 0px;
margin-right: 10px;
border-radius: 50%;
}*/



/*#square1 {
  width: 80px;
  height: 80px;
  background-color: black;
  display: inline-block;
}

#square2 {
  width: 80px;
  height: 80px;
background-color: black;
display: inline-block;

}
#square3 {
  width: 80px;
  height: 80px;
background-color: black;
display: inline-block;

}
#square4 {
  width: 80px;
  height: 80px;
background-color: black;
display: inline-block;

}
#square5 {
  width: 80px;
  height: 80px;
background-color: black;
display: inline-block;

}
#square6 {
  width: 80px;
  height: 80px;
background-color: black;
display: inline-block;
}*/
