body {
background-color: black;
color: white;
display: block;
width: 800px;
height: 792px;
margin: 0 auto;
text-align: center;

}

#container {
  width: 516px;
  height: 435px;
  display: block;
  background-color:rgb(124, 124, 124);
   margin: 0 auto;

}

.squares{
  width: 60px;
  height: 60px;
  background-color: black;
  float:left;
  display: inline-block;
  margin:0 8px;



}
.squareRow{
  width: 100%;
  height: 60px;
  position: relative;
  display: block;
}


.dotRow{
  width: 100%;
  height: 15px;
  position: relative;
  display: block;
  margin: 0;
}



.dotStyle{
  width: 10px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  float: left;
  display: inline-block;
  margin: 0px 32px;
  margin-right: 28px;
  /* left: 8%; */
  right: -28px;
  border-color: rgba(0, 255, 255, 0);
  top: -5%;
}

#score{
  border-radius: 27%;
  border-color: black;
  height: 56%;
}

#countdownHolder {
  border-radius: 27%;
  border-color: black;
  height: 56%;
}

#player1Points {
  border-radius: 27%;
  border-color: black;
  height: 89%;

}


#player2Points {
  border-radius: 27%;
  border-color: black;
  height: 89%;

}

div.squares {
    background-color: black
    }



#square0, #square7, #square14, #square21, #square28, #square35 {
  margin: 0 8px 0 0px;
}

#square6, #square13, #square20, #square27, #square34, #square41 {
  margin: 0px 0px 0px 8px;
}
